<div class="cover container">
    <div class="cover-content">
        {{#if @site.icon}}
            <div class="cover-icon">
                <img class="cover-icon-image" src="{{@site.icon}}" alt="{{@site.title}}">
            </div>
        {{/if}}

        {{#if @site.description}}
            <h1>Reagan's Roundup</h1>
            <div class="cover-description">{{@site.description}}</div>
        {{/if}}
        <script async data-uid="04a620a02d" src="https://hustling-founder-4697.ck.page/04a620a02d/index.js"></script>
        {{!-- {{#unless @member}}
            <div class="cover-cta">
                <button class="button members-subscribe" data-portal="signup">Subscribe now</button>
                <button class="button button-secondary members-login" data-portal="signin">Login</button>
            </div>
        {{/unless}} --}}
    </div>
</div>